body {
  background-color: black;
}

.headers {
  color: white;
  text-align: center;
}

a {
  color: white;
}

label {
  color: white;
}
/*LP - main buttons*/
.buttonsLP {
  border: 2px solid;
  height: 60px;
  width: 200px;
  font-size: 30px;
  padding: 10px;
  margin: 0;
}
/*LP - form to select # of players*/
#formContainerLP {
  height: 280px;
  width: 400px;
  position: relative;
  margin-left: 11px;
  margin-top: -1px;
  text-align: center;
  font-size: 30px;
}
#singlePlayerForm {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightgreen;
  display: none;
}
#multiPlayerForm {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: none;
}
.buttonsPlayLP {
  height: 40px;
  width: 70px;
  font-size: 20px;
  margin-top: 10px;
}


.board {
  width: 95%;
  height: 95%;
  /*background-color: green;*/
}
/*Player info box on the right side of the game*/
.containerAside {
  display: inline-block;
  /*background-color: lightgreen;*/
  width: 30%;
  float: right;
}

#asideInfoBoxes {
  /*background-color: red;*/
  font-size: 30px;
}

.labelsGP {
  display: block;
  text-align: center
  /*height:35px;*/
}

.asidePlayerInfo {
  margin-top: 20px;
  padding-top: 5%;
  border: 2px solid white;
}

.playerInfo {
  text-align: center;
  color: grey;
  font-size: 25px;
  font-weight: bold;
}

/*game area*/
#containerMain {
  /*background-color: lightblue;*/
  display: inline-block;
  width: 50%;
  height: 90%;
}

#colorContainer {
  /*background-color: yellow;*/
  height: 75%;
  width: 60%;
  margin: auto;
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
  text-align: center;

}

.colorBox {
  background-color: blue;
  display: inline-block;
  height:80px;
  width: 80px;
  border: 2px solid black;
  line-height: 80px;
  opacity: 0.15;
  /*box-shadow: 0px 10px 50px 20px black;*/
}

/*.colorBox:hover {
  border: 1px solid green;
  box-shadow: 0px 5px 5px green;
}*/
