body {
  background-color: black;
}

.headers {
  color: white;
  text-align: center;
  height: 80px;
  margin-top: 2%;
  /*background-color: pink;*/
}

a {
  color: white;
  display: inline-block;
  padding: 10px 0 0 10px;
}

label {
  color: white;
}
/*LP - main buttons*/
.buttonsLP {
  border: 2px solid;
  height: 60px;
  width: 200px;
  font-size: 30px;
  padding: 10px;
  margin: 0;
}
.buttonsPlayLP {
  height: 40px;
  width: 70px;
  font-size: 20px;
  margin-top: 10px;
}
/*LP - form to select # of players*/
#formContainerLP {
  height: 280px;
  width: 400px;
  position: relative;
  margin-left: 11px;
  margin-top: -1px;
  text-align: center;
  font-size: 30px;
}
#singlePlayerForm {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightgreen;
  display: none;
}
#multiPlayerForm {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: none;
}

.board {
  width: 95%;
  height: 95%;
  /*background-color: green;*/
}
/*Player info box on the right side of the game*/
.containerAside {
  display: inline-block;
  /*background-color: lightgreen;*/
  width: 30%;
  float: right;
}

#asideInfoBoxes {
  /*background-color: red;*/
  font-size: 32px;
  /*height:200px;*/
  margin-top: -40px;
  /*margin-left: */
}

.labelsGP {
  display: block;
  text-align: center
  /*height: 100px;*/
}

.asidePlayerInfo {
  /*width: 5rem;*/
  margin-top: 8%;
  padding-top: 5%;
  border: 2px solid white;
}

.playerInfo {
  text-align: center;
  color: grey;
  font-size: 2rem;
  font-weight: bold;
  height: 20px;
}
#levelDisplay {
  text-align: center;
  color: grey;
  height: 20px;
}
.allButtonsGP {
  text-align: center;
}
.buttonsGP {
  font-size: 1.8rem;
  margin-left: 10px;
  margin-right: 10px;
  /*margin: auto;*/
}


/*game area*/
#containerMain {
  /*background-color: lightblue;*/
  display: inline-block;
  width: 70%;
  height: 90%;
  margin-top: 30px;
  text-align: center;
}

#colorContainer {
  /*background-color: yellow;*/
  height: 75%;
  width: 500px;
  margin: auto;
  /*text-align: center;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}

.colorBox {
  background-color: blue;
  display: inline-block;
  height:130px;
  width: 130px;
  border: 2px solid black;
  line-height: 80px;
  opacity: 0.5;
  margin: 2px;
}

.timerDisplay {
  display: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  .colorBox {
    height: 80px;
    width: 80px;
    margin: 1px;
  }
  #asideInfoBoxes {
  /*background-color: pink;*/
  font-size: 25px;
  }
  .playerInfo {
  font-size: 18px;
  }
  .buttonsGP {
  font-size: 18px;
  }
  #colorContainer {
    width: 75%
/*need to change so container doesn't shrink so much
*/  }
}
