* {
  font-family: 'Fredoka One', cursive;
}

body {
  background-color: black;
}

#headerLP {
  margin: 100px 0;
}

.navGP {
  display: inline;
}

.headers {
  color: white;
  text-align: center;
  height: 40px;
  margin-top: -30px;
  font-size: 80px;
  /*background-color: pink;*/
}

img {
  color: white;
  display: inline-block;
  height: 60px;
  width: 60px;
  padding: 8px 0 0 8px;
}

label {
  color: white;
}

/*LP - main buttons*/
.buttonsLP {
  border: 2px solid;
  height: 90px;
  width: 230px;
  font-size: 30px;
  padding: 10px;
  margin: 0;
}
.buttonsPlayLP {
  height: 40px;
  width: 70px;
  font-size: 20px;
  margin-top: 10px;
}
/*LP - form to select # of players*/
#formContainerLP {
  height: 300px;
  width: 460px;
  position: relative;
  margin-left: 12px;
  text-align: center;
  font-size: 30px;
}
#singlePlayerForm {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightgreen;
  display: none;
}
#multiPlayerForm {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: none;
}


/*GP*/
.levelModal {
  visibility: hidden;
  /*z-index: 1;*/
  color: black;
  font-size: 40px;
  background-color: green;
  text-align: center;
  height: 50px;
  width: 300px;
  top: 160px;
  right: 57%;
  position: absolute;
}

.finalScoreModal {
  /*visibility: hidden;*/
  /*z-index: 1;*/
  color: black;
  font-size: 40px;
  background-color: red;
  text-align: center;
  height: 350px;
  width: 300px;
  top: 200px;
  right: 57%;
  position: absolute;
  display: none;
}

.board {
  width: 95%;
  height: 95%;
  /*background-color: green;*/
}
/*Player info box on the right side of the game*/
.containerAside {
  display: inline-block;
  /*background-color: lightgreen;*/
  width: 30%;
  float: right;
}

#asideInfoBoxes {
  /*background-color: red;*/
  font-size: 32px;
  margin-top: -10px;
}

.labelsGP {
  display: block;
  text-align: center
}

.asidePlayerInfo {
  margin-top: 8%;
  padding-top: 6%;
  border: 2px solid white;
}

.playerInfo {
  text-align: center;
  color: grey;
  font-size: 2rem;
  font-weight: bold;
  height: 20px;
}
#levelDisplay {
  text-align: center;
  color: red;
  height: 20px;
  padding-bottom: 10px;
}
.allButtonsGP {
  text-align: center;
}
.buttonsGP {
  font-size: 1.8rem;
  margin-left: 10px;
  margin-right: 10px;
}

/*game area*/
#containerMain {
  /*background-color: lightblue;*/
  display: inline-block;
  width: 70%;
  height: 90%;
  margin-top: 50px;
  text-align: center;
}

#colorContainer {
  /*background-color: yellow;*/
  height: 75%;
  width: 550px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.colorBox {
  background-color: blue;
  display: inline-block;
  height:150px;
  width: 150px;
  border: 2px solid black;
  line-height: 80px;
  opacity: 0.5;
  margin: 6px;
  box-shadow: 0px 0px 0px 0px white;
}

.timerDisplay {
  display: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  #headerGP {
    display: block;
    height: 40px;
    margin: auto;
    font-size: 40px;
  }
  img {
    height: 30px;
    width: 30px;
  }
  .colorBox {
    height: 90px;
    width: 90px;
    margin: 3px;
  }
  #asideInfoBoxes {
    font-size: 25px;
  }
  .playerInfo {
    font-size: 17px;
  }
  .buttonsGP {
    font-size: 18px;
  }
  #colorContainer {
    width: 75%
  }
  .levelModal {
    font-size: 25px;
    width: 150px;
    height: 60px;
    top: 110px;
    right: 48%;
  }
  .finalScoreModal {
    font-size: 25px;
    width: 190px;
    height: 220px;
    top: 110px;
    right: 48%;
  }
}
